- name: copy molt_s3 script
  ansible.builtin.template:
    src: molt_s3.j2
    dest: molt_s3.sh
    owner: "{{ login_username }}"
    group: "{{ login_username }}"
    mode: '0755'

- name: copy molt_direct script
  ansible.builtin.template:
    src: molt_direct.j2
    dest: molt_direct.sh
    owner: "{{ login_username }}"
    group: "{{ login_username }}"
    mode: '0755'

- name: copy molt_convert script
  ansible.builtin.template:
    src: molt_convert.j2
    dest: molt_convert.sh
    owner: "{{ login_username }}"
    group: "{{ login_username }}"
    mode: '0755'

- name: copy create_employee_schema script
  ansible.builtin.template:
    src: create_employee_schema.j2
    dest: create_employee_schema.sh
    owner: "{{ login_username }}"
    group: "{{ login_username }}"
    mode: '0755'

- name: save changefeed shell script
  copy:
    src: pg_dump_employees.sh
    dest: pg_dump_employees.sh
    mode: '0755'
