[Unit]
Description=Grafana instance
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target
After=postgresql.service mariadb.service mysqld.service influxdb.service

[Service]
# Make the env file optional and Debian-compatible
EnvironmentFile=-/etc/default/grafana-server

User=grafana
Group=grafana
Type=Simple
Restart=on-failure
NotifyAccess=main

# ensure you're in the grafana home
WorkingDirectory=/usr/share/grafana

# runtime directories
RuntimeDirectory=grafana
RuntimeDirectoryMode=0750

# Use the Grafana binary we discovered in Ansible
ExecStart={{ grafana_server_path }} \
  --homepath=/usr/share/grafana \
  --config=${CONF_FILE} \
  --pidfile=${PID_FILE_DIR}/grafana-server.pid \
  --packaging=rpm \
  cfg:default.paths.logs=${LOG_DIR} \
  cfg:default.paths.data=${DATA_DIR} \
  cfg:default.paths.plugins=${PLUGINS_DIR} \
  cfg:default.paths.provisioning=${PROVISIONING_CFG_DIR}

LimitNOFILE=10000
TimeoutStopSec=20

CapabilityBoundingSet=
DeviceAllow=
LockPersonality=true
MemoryDenyWriteExecute=false
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=full
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
UMask=0027

[Install]
WantedBy=multi-user.target

