{ "name": "cockroach-sink-json", "config": {  "connector.class": "io.confluent.connect.jdbc.JdbcSinkConnector", "connection.url": "jdbc:postgresql://{{lookup('file', './temp/{{region}}/haproxy_internal_ip.txt')}}:26257/defaultdb?&sslrootcert=/home/adminuser/certs/ca.crt&reWriteBatchedInserts=true&ApplicationName=txns", "topics": "transactions", "connection.user": "jhaugland", "connection.password": "jasonrocks", "tasks.max": "4", "key.converter": "org.apache.kafka.connect.storage.StringConverter", "value.converter": "org.apache.kafka.connect.json.JsonConverter", "connection.user": "{{db_admin_user}}", "connection.password": "{{db_admin_password}}", "auto.create": true, "auto.evolve": true, "insert.mode": "insert", "pk.mode": "none", "pk.fields": "none", "batch.size": 128, "consumer.override.max.poll.records": 128 } }
