id=kafka-rest-test-server
schema.registry.url=http://{{kafka_internal_ip}}:8081
zookeeper.connect={{kafka_internal_ip}}:2181
bootstrap.servers=PLAINTEXT://{{kafka_internal_ip}}:9092
consumer.interceptor.classes=io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor
producer.interceptor.classes=io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor
