import {replicateTo} from "repl";
replicateTo('{{ region }}',['defaultdb.public.account','defaultdb.public.customer','defaultdb.public.dispute','defaultdb.public.email','defaultdb.public.merchant','defaultdb.public.phone','defaultdb.public.transaction','defaultdb.public.transaction_return','kv.public.kv'])
