export CONNECT='postgresql://{{ db_admin_user }}@{{load_balancer_private_ip}}:26257?sslmode=verify-full&sslrootcert=/home/adminuser/certs/ca.crt&sslcert=/home/adminuser/certs/client.{{ db_admin_user }}.crt&sslkey=/home/adminuser/certs/client.{{ db_admin_user }}.key'
cockroach workload init kv ${CONNECT}
cockroach sql --url=${CONNECT} --execute="ALTER TABLE KV.KV ADD COLUMN crdb_replication_origin_timestamp DECIMAL NOT VISIBLE NULL ON UPDATE NULL"
sleep 5
cockroach workload run  kv ${CONNECT}
