export COCKROACH_HOST={{load_balancer_private_ip}}
export COCKROACH_PORT=26257
export COCKROACH_DB_USER={{ db_admin_user }}
export COCKROACH_DB_PASS={{ db_admin_password }}
# substitute in actual KAFKA_HOST internal IP
# this will not run using a public ip-use the private ip.  Did not set up the advertised listeners in kafka to make this work
export KAFKA_HOST={{kafka_internal_ip}}
export KAFKA_PORT=9092
export REGION={{region}}
export COCKROACH_URL="jdbc:postgresql://${COCKROACH_HOST}:${COCKROACH_PORT}/defaultdb?sslmode=verify-full&sslcert=$HOME/certs/client.{{ db_admin_user }}.crt.der&sslkey=$HOME/certs/client.{{ db_admin_user }}.key.der&sslrootcert=$HOME/certs/ca.crt.der"
