export CONNECT='postgresql://{{ db_admin_user }}@{{load_balancer_private_ip}}:26257?sslmode=verify-full&sslrootcert=/home/adminuser/certs/ca.crt&sslcert=/home/adminuser/certs/client.{{ db_admin_user }}.crt&sslkey=/home/adminuser/certs/client.{{ db_admin_user }}.key'
cockroach sql --url=${CONNECT} 
