# this must be the public haproxy host on the other cluster and the haproxy port must be open
./replicator start  --bindAddr :30004 --metricsAddr :30005 --tlsSelfSigned --disableAuthentication --targetConn 'postgres://{{ db_admin_user }}@{{load_balancer_private_ip}}:26257/defaultdb?sslcert=/home/adminuser/certs/client.{{ db_admin_user }}.crt&sslkey=/home/adminuser/certs/client.{{ db_admin_user }}.key&sslrootcert=/home/adminuser/certs/ca.crt' --userscript ./cluster.ts --parallelism=100 --targetMaxPoolSize=300 --stagingMaxPoolSize=450
