import {replicateTo} from "repl";
replicateTo('{{ region }}',['tpcc.public.district','tpcc.public.customer','tpcc.public.history','tpcc.public.item','tpcc.public.new_order','tpcc.public.order','tpcc.public.order_line','tpcc.public.stock','tpcc.public.warehouse'])
