/usr/local/bin/cockroach sql --host={{load_balancer_private_ip}} --certs-dir=certs --user={{ db_admin_user }} --execute "create TABLE IF NOT EXISTS kv.kv ( k int8 primary key, v bytes not null, _source string  NOT VISIBLE default '{{region}}' on update '{{region}}', _timestamp timestamptz NOT VISIBLE DEFAULT now() + '1s' on update now() + '1s');"
