export AWS_REGION="{{ region }}"
export COCKROACH_CONNECT='postgresql://{{ db_admin_user }}@{{load_balancer_private_ip}}:26257/?sslmode=verify-full&sslrootcert=/home/{{ login_username }}/certs/ca.crt&sslcert=/home/{{ login_username }}/certs/client.{{ db_admin_user }}.crt&sslkey=/home/{{ login_username }}/certs/client.{{ db_admin_user }}.key'
cockroach sql --url=${COCKROACH_CONNECT}  --file=employees_converted.sql
