drop database if exists employees;
create database employees;
\c employees
select 'create schema employees' where not exists (select from information_schema.schemata where schema_name = 'employees')\gexec
create role {{ db_admin_user }}  with login superuser password '{{ db_admin_password }}';
