/usr/local/bin/cockroach sql --host={{load_balancer_private_ip}} --certs-dir=certs --user={{ db_admin_user }} --execute " CREATE TABLE IF NOT EXISTS kv.replicator_dlq ( event UUID DEFAULT gen_random_uuid() PRIMARY KEY, dlq_name TEXT NOT NULL, source_nanos INT8 NOT NULL, source_logical INT8 NOT NULL, data_after JSONB NOT NULL, data_before JSONB NOT NULL);"
