export CONNECT='postgresql://{{ db_admin_user }}@{{load_balancer_private_ip}}:26257/employees?sslmode=verify-full&sslrootcert=/home/adminuser/certs/ca.crt&sslcert=/home/adminuser/certs/client.{{ db_admin_user }}.crt&sslkey=/home/adminuser/certs/client.{{ db_admin_user }}.key'
molt fetch --source "postgres://{{ db_admin_user }}:{{ db_admin_password }}@localhost:5432/employees" --target "${CONNECT}" --table-handling 'drop-on-target-and-recreate' --direct-copy  --non-interactive
