# create der certs
- name: create ca.crt.der
  shell: 
    cmd: "openssl x509 -outform der -in ca.crt -out ca.crt.der"
    chdir: /home/{{login_username}}/certs

- name: create client.db_admin_user.crt.der
  shell: 
    cmd: "openssl x509 -outform der -in client.{{ db_admin_user }}.crt -out client.{{ db_admin_user }}.crt.der"
    chdir: /home/{{login_username}}/certs

- name: create client.db_admin_user.key.der
  shell: 
    cmd: "openssl pkcs8 -topk8 -inform PEM -outform DER -in client.{{ db_admin_user }}.key -out client.{{ db_admin_user }}.key.der -nocrypt"
    chdir: /home/{{login_username}}/certs
